body {
  margin: 0;
  padding: 0;
  font-family: "Kiwi Maru", Arial, serif;
}

body {
  height: 100%;
}
.wrapper {
  background: #000;
  /* min-width: 100vw; */
}

header {
  min-width: 100vw;
}

.button {
  padding-bottom: 60px;
}

header li,
header a,
header p {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.nav {
  width: max-content;
  float: right;
}

.nav ol {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: rgba(17, 17, 17, 0.932);
  font-weight: bold;
}

.nav li {
  display: flex;
  float: left;
  margin-right: 32px;
}

.nav li a:hover {
  color: red !important;
  transition: 0.3s;
}

.text-header {
  font-size: 44px;
  line-height: 60px;
  font-weight: bold;
}

.text-header-not-main {
  margin-top: 40px;
  font-size: 16px;
  line-height: 25px;
}

.btn {
  color: black;
  padding: 13px 20px;
  background: rgb(231, 231, 231);
  border: none;
  font-size: 24px;
  margin-top: 40px;
  font-weight: bold;
  transition: 0.4s;
  background-size: 200%;
}

.btn:hover {
  background: rgb(255, 70, 70);
}

.with-photo {
  display: flex;
  padding-top: 170px;
}

.photo {
  overflow: hidden;
  flex: 0 0 280px;
  border-radius: 50%;
  height: 280px;
  position: relative;
  left: 110px;
}

.me-photo {
  max-width: 100%;
}

.hobby {
  margin-top: 100px;
}

.section-1-main-p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  margin-top: 80px;
}

.section-2 {
  margin-top: 100px;
}

.photo-1 {
  display: flex;
}

.p-1-main,
.p-2-main,
.p-3-main {
  font-size: 35px;
  margin-bottom: 30px;
}

.p-1 {
  color: #8a8a8a;
  font-size: 25px;
  width: 500px;
}

.main-1-text {
  margin-left: 50px;
}

.main-2-text {
  margin-right: 50px;
}

.photo-1-img {
  transition: 1s;
  width: 400px;
}

.photo-1-img,
.photo-3-img {
  margin-left: -50px;
}

.photo-2-img {
  margin-right: -50px;
}

.photo-1-img:hover,
.photo-2-img:hover,
.photo-3-img:hover {
  transform: scale(1.06);
}

.photo-2 {
  margin-top: 80px;
  display: flex;
}

.p-2,
.p-3 {
  font-size: 24px;
  color: #8a8a8a;
}

.photo-2-img {
  width: 500px;
  transition: 1s;
}

.photo-3 {
  margin-top: 100px;
  display: flex;
}

.photo-3-img {
  transition: 1s;
  width: 500px;
}

.main-3-text {
  margin-left: 80px;
}

.rgb {
  background: linear-gradient(to left, #e65c00, #f9d423);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1100px) {
  .heading-text,
  .button {
    padding-left: 30px;
  }
  .heading-text {
    display: flex;
    flex-direction: column;
    width: 603px;
  }
  .with-photo {
    width: fit-content;
    margin: 0 auto;
  }
  .container {
    max-width: 950px;
  }
  .photo {
    position: relative;
    left: 25%;
  }
  
}

@media (max-width: 902px) {
  .container {
    max-width: 750px;
  }

  .photo {
    overflow: hidden;
    flex: 0 0 220px;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    position: unset;
  }

}

@media (max-width: 778px) {
  .with-photo {
    padding-top: 60px;
    width: fit-content;
    margin: 0 auto;
  }
  .container {
    max-width: 650px;
  }
  .heading-text {
    padding-right: 0;
  }

  .text-header {
    font-size: 33px;
    line-height: 40px;
  }
}

@media (max-width: 494px) {
  .container {
    width: 300px;
  }
  .with-photo {
    flex-direction: column-reverse;
    width: 300px;
    margin-right: 0;
  }
  .heading-text {
    text-align: center;
    padding-top: 30px;
    padding-left: 0;
  }
  .text-header {
    font-size: 37px;
  }
  .nav a {
    margin: 0 auto;
    font-size: 22px;
  }

  .photo {
    margin: 0 auto;
    position: unset;
  }
}
